<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content Negotiation TPSA service</title>
</head>
<body>
<h1>Welcome to the Content Negotiation TPSA service</h1>
<form action="#" th:action="@{/cntpsa}" th:object="${sameAsResource}" method="post">
    <p>Resource IRI: <input type="text" th:field="${sameAsResource.resourceIri}"/></p>
    <p>Shape graph IRI: <input type="text" th:field="${sameAsResource.shapeGraphIri}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>